In [105]:
import pandas as pd
from math import factorial

In [106]:
data = pd.read_excel('data.xlsx')
data_8 = pd.read_excel('Book2.xlsx')
data_12 = pd.read_excel('Book3.xlsx')
data_14 = pd.read_excel('Book4.xlsx')

data_8_p = pd.read_excel('Book5.xlsx')
data_12_p = pd.read_excel('Book6.xlsx')
data_14_p = pd.read_excel('Book7.xlsx')

data

,ATS0,ATD0,PULS0,ATS1,ATD1,PULS1,ATS2,ATD2,PULS2,ATS3,...,PULS4,ATS5,ATD5,PULS5,QCL_1,QCL_2,QCL_3,QCL_4,QCL_5,QCL_6
0,114,65,93,113,73,117,116,70,109,125,...,108,112,69,101,1,5,3,2,5,9
1,132,85,104,137,76,115,123,74,104,122,...,110,117,74,103,1,5,3,6,1,5
2,116,80,88,134,83,112,118,76,93,118,...,107,109,72,100,1,4,4,2,5,9
3,133,77,96,133,78,119,134,70,103,128,...,92,116,63,96,1,4,4,5,1,5
4,111,68,101,157,72,115,154,72,99,125,...,106,111,68,104,1,4,4,5,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1104,140,79,119,147,82,149,138,74,138,127,...,141,135,74,122,8,11,13,6,7,7
1105,138,78,102,157,78,119,154,81,111,142,...,107,136,73,103,8,12,13,8,7,7
1106,158,97,96,143,85,125,154,90,106,150,...,98,138,89,101,8,12,9,8,7,7
1107,115,90,95,120,82,112,144,105,105,140,...,98,118,90,96,8,12,9,6,1,10
1108,124,94,84,138,91,110,146,92,98,140,...,87,135,94,89,8,12,9,5,1,10

In [107]:
data_8

,ATS0,ATD0,PULS0,ATS1,ATD1,PULS1,ATS2,ATD2,PULS2,ATS3,ATD3,PULS3,ATS4,ATD4,PULS4,ATS5,ATD5,PULS5
0,120.76,76.15,97.99,127.58,78.15,122.40,128.89,77.45,110.31,123.78,74.31,105.92,119.08,72.23,103.84,117.17,71.97,102.79
1,111.77,68.86,70.10,120.05,69.16,93.62,117.67,67.86,74.82,113.67,65.81,69.82,111.32,64.03,68.51,109.25,63.68,69.31
2,116.50,83.00,69.00,126.00,81.50,96.50,125.00,82.50,70.50,116.50,79.00,65.00,114.50,80.00,65.00,-66.00,-66.00,-66.00
3,110.89,69.93,84.34,118.74,71.28,108.92,116.38,69.85,93.88,110.89,66.94,87.68,108.96,65.86,87.32,107.56,65.27,86.17
4,141.94,82.39,81.30,168.59,87.00,101.15,154.72,80.57,87.18,145.21,77.70,86.03,141.72,76.29,83.87,138.33,75.03,82.62
5,126.52,76.43,82.49,138.00,78.49,106.57,134.33,76.27,90.90,127.60,73.23,86.40,124.49,71.59,85.22,122.11,71.00,84.41
6,130.42,75.41,67.13,144.46,76.45,86.46,138.25,74.16,71.33,131.89,71.19,67.32,129.58,71.05,67.23,126.58,69.38,66.96
7,138.33,86.76,98.29,152.68,88.58,121.27,148.58,88.11,110.08,141.82,85.44,105.61,137.44,83.56,104.67,134.24,82.67,103.05

In [108]:
def vals(df, k, clust_name, clust_num):
    dt = df[df[clust_name] == clust_num]
    dt = dt.loc[:, 'ATS0':'PULS5']
    dt = (dt-k.iloc[clust_num-1])**2
    return dt.values.sum()/len(dt.index)
    
def clust(k, clust_name):
    nm = len(k.index)
    sum = 0
    for i in range(nm):
        sum += vals(data, k, clust_name, i+1)
    return sum/nm

def div(k, i, j):
    return ((k.iloc[i-1]-k.iloc[j-1])**2).sum()

def divider(k):
    nm = len(k.index)
    sum = 0
    for i in range(1,nm):
        for j in range(i+1,nm):
            sum += div(k, i, j)
    return sum / (math.factorial(nm)/(math.factorial(2)*math.factorial(nm-2)))

In [109]:
print('Separability test on full data')
print('8 clusters test:', clust(data_8, 'QCL_1') / divider(data_8))
print('12 clusters test:', clust(data_12, 'QCL_2') / divider(data_12))
print('14 clusters test:', clust(data_14, 'QCL_3') / divider(data_14))

Separability test on full data
8 clusters test: 0.06530318272831062
12 clusters test: 0.06923849980653476
14 clusters test: 0.07246956772502565

Как видим из результатов теста (по минимальному значению) 8 кластеров является оптимальным вариантом разбиения данных.

In [110]:
data.drop(['ATS3','ATD3','PULS3','ATS4','ATD4','PULS4'],inplace=True, axis=1)

print('Separability test on part data')
print('8 clusters test:', clust(data_8_p, 'QCL_4') / divider(data_8_p))
print('12 clusters test:', clust(data_12_p, 'QCL_5') / divider(data_12_p))
print('14 clusters test:', clust(data_14_p, 'QCL_6') / divider(data_14_p))

Separability test on part data
8 clusters test: 0.04633573597975933
12 clusters test: 0.05421814964411887
14 clusters test: 0.05837998132013214

Так как не брались во внимание промежуточные данные теста ФСССС, результаты стали еще точнее. Так же 8 кластеров остается оптимальным вариантом.